<!DOCTYPE html>

<html lang="fr">

<head>
    <title>GrandPy Bot</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name ="description" content="Trouver l'adresser d'un lieu accompagné d'une histoire de GrandPy">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    
</head>
<body id="back">
    <div id="presentation">
        <h2>GrandPy Bot </h2> 
        <p id="description">Le conteur d'histoire</p>
        <img src="{{ url_for('static',filename='pictures/robot.jpg') }}" alt="logo PapyBot" height="100">
    </div>
    <div id="conteneur">
        <div class="user"><p>Bonjour grand Papy Bot, je cherche la Tour Eiffel. Peux tu m'aider?</p></div>
        <div class="papy"><p>Biensûr, la tour Eiffel se trouve sur les champs de Mars au 5, avenue Anatole-France à Paris.</p></div>
        <div class="picture"><img src = "{{ url_for('static',filename='pictures/tour_eiffel.jpg') }}" alt="endroit" height="150"></div>
        <div class="papy"> <p>Savais tu que la tour Eiffel est une tour de fer puddlé de 324 mètres de hauteur? C'est incroyable.</p></div>
        <div class="papy"><p>Pour en savoir d'avantage, tu peux te rendre sur le site  de <a href="https://fr.wikipedia.org/wiki/"> Wikipedia</a></p></div>
        <div class="user"><p>Tu es vraiment un chouette type !</p></div>
        
        <form id="user-text-form">
            <fieldset>
                <p>
                    <label for="userText"> Pose une question sur un lieu à GrandPy: </label>
                    <input type="text" id="userText" name="userText" size="50" minlength="5" placeholder="Ecrivez votre question ici">
                    <input type="submit" value="Envoyer">
                </p>
            </fieldset>
        </form>
    </div>
    
<footer>
    <p id="papy">
        Vous aimez mon PaPy Bot? <br>
        Pour en savoir plus, rendez vous sur <a href="https://github.com/KlereBibi/P7_Papy_bot">Git Hub</a>
    </p>
    <p id="ref">
        <a href="https://www.linkedin.com/in/claire-biedermann-b21671166/">Claire Biedermann</a>, toujours là pour vous divertir
    </p>
</footer>
<script src="{{ url_for('static',filename='js/main.js') }}"></script>
</body>
</html>