<!DOCTYPE html>

<html lang="fr">

<head>
    <title>GrandPy Bot</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name ="description" content="Trouver l'adresser d'un lieu accompagné d'une histoire de GrandPy">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
</head>

<body id="back">
    <div id="presentation">
        <h2>GrandPy Bot </h2> 
        <p id="description">Le conteur d'histoire</p>
        <img src="{{ url_for('static',filename='picture/robot.jpg') }}" alt="logo PapyBot" height="100">
    </div>
    <div id="conteneur">
        <div id="answer"></div>
        <div class="hidden" id="spinner">
            <div class="lds-ellipsis"><div></div><div></div><div></div></div>
        </div>
        <form id="user-text-form">
            <fieldset>
                <p>
                    <label for="userText"> Pose une question sur un lieu à GrandPy: <br></label>
                    <input type="text" id="userText" name="userText" placeholder="Ecrivez votre question ici">
                    <input type="submit" value="Envoyer">
                </p>
            </fieldset>
        </form>
        
    </div>
    
<footer>
    <p id="papy">
        Vous aimez mon PaPy Bot? <br>
        Pour en savoir plus, rendez vous sur <a href="https://github.com/KlereBibi/P7_Papy_bot">Git Hub</a>
    </p>
    <p id="ref">
        <a href="https://www.linkedin.com/in/claire-biedermann-b21671166/">Claire Biedermann</a>, toujours là pour vous divertir
    </p>
</footer>

<script src="{{ url_for('static',filename='js/main.js') }}"></script>


</body>
</html>