#back { background-color:rgb(176, 217, 241) }

#presentation { text-align:center;
                margin-bottom: 3%
}

h2 { font-family:'Trebuchet MS', 'Lucida Sans Unicode', cursive; }


#description { font-family:cursive; }

#conteneur{     display: flex;
                flex-direction: column;
                border: 1px solid black;
                margin: auto;
                width: 50%;
                height: 50%;
                margin-bottom: 5%;
                text-align: center;
}

.user{  display: flex;
        justify-content:space-around;
        background-color:rgb(164, 223, 164);
        font-family:Georgia, 'Times New Roman', Times, serif;
        width: 70%;
        margin-top: 3%;
        margin-left: 2%;
        border-radius: 10px;
}

.papy{  display: flex;
        justify-content:space-around;
        margin-left: auto;
        font-style: italic;
        background-color:rgb(182, 179, 179);
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 70%;
        margin-right: 2%;
        margin-top: 3%;
        border-radius: 10px;
}

.map {          display: flex;
                align-self: flex-end;
                margin-top: 3%;
                height: 300px;
                    
}

fieldset {      background-color: cornflowerblue;
                margin-top: 7%;
                margin-bottom: 5%;
                margin-left: 15%;
                margin-right: 15%; 
                width: auto;
                text-align: center;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {        text-align: center;
                font-family: Calibri, sans-serif ;
}