<!DOCTYPE html>

<html lang="fr">

<head>

    <title>GrandPy Bot</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name ="description" content="Trouver l'adresser d'un lieu accompagné d'une histoire de GrandPy">
    <link rel="stylesheet" href="style.css">
    <body id='back'></body>

    <div id="titre">
        <h2>GrandPy Bot </h2> 
        <p id='description'>Le conteur d'histoire</p>
        <img src="settings/robot.jpg" alt="logo PapyBot" height="100">
    </div>
</head>

<body>
    <div>
        <form action="">
            <fieldset>
                <label for="adresse">Pose une question sur un lieu à GrandPy:  <br></label>
                <input type="text" id="adresse" size="50" minlength="5"><br>
                <input type="submit">
                <input type="reset">
            </fieldset>
        </form>
    </div>

    <div id=footer>
        <p id='papy'>
            Vous aimez mon PaPy Bot? <br>
            Pour en savoir plus, rendez vous sur <a href="https://github.com/KlereBibi/P7_Papy_bot">Git Hub</a>
        </p>
        <p id='ref'>
            <a href="https://www.linkedin.com/in/claire-biedermann-b21671166/">Claire Biedermann</a><br>
            Toujours là pour vous divertir
        </p>
    </div>

</body>

</html>