#back { background-color:rgb(176, 217, 241) }

#presentation { text-align:center;
                margin-bottom: 3%
}

h2 { font-family:'Trebuchet MS', 'Lucida Sans Unicode', cursive; }

#description { font-family:cursive; }

#conteneur{     display: flex;
                flex-direction: column;
                margin: auto;
                width: 50%;
                margin-bottom: 5%;
}

.user{  display: flex;
        justify-content:flex-start;
        text-align: start;
        background-color:rgb(164, 223, 164);
        font-family:Georgia, 'Times New Roman', Times, serif;
        width: 70%;
        margin-bottom: 1%;
        margin: 1%;
        padding: 1%;
}

.papy{  display: flex;
        align-self: flex-end;
        text-align: end;
        font-style: italic;
        justify-content: end;
        background-color:rgb(182, 179, 179);
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 70%;
        margin-bottom: 1%;
        margin: 1%;
        padding: 1%;
}

.picture {      display: flex;
                align-self: flex-end;
                justify-content: center;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-style: italic;
                width: 50%;
                margin-bottom: 1%;
}

fieldset {      background-color: cornflowerblue;
                margin: auto;
                width: 30%;
                text-align: center;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {        text-align: center;
                font-family: Calibri, sans-serif ;
}